@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom style */
.full-image div {
    height: 100%;
}


/* Custom Components */
.h-28 {
    height: 28rem;
}

.top-50-percent {
    top: 50%;
}

.grid-column-center {
    grid-column: 2/4;
}
